/* ---------------------------------
 *          Code Highlight
 * --------------------------------- */
$codeblock-caption-bg ?= rgba(0, 0, 0, .1)
$codeblock-marked-bg ?= rgba(255, 235, 59, 0.5)

figure.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important
    border-radius: $radius
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .05)

    &.folded
        .highlight-body
            height: 0

    .copy
        opacity: .7
        padding: 0 !important
        display: flex
        align-items: center
        i
            font-size: 1.2rem
            line-height: 1.5
            color: rgba(0, 0, 0, .2)
            transition: color .25s,opacity .25s
            &:hover
                color: rgba(0, 0, 0, .6)

    pre, table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

        tr td
            border: none

        tr:not(:first-child) td
            padding-top: 0

        tr:not(:last-child) td
            padding-bottom: 0

    pre
        padding: 0
        overflow: visible

        .line, code .hljs
            line-height: 1.5rem

    figcaption
        margin: 0 !important
        padding: 0.8em 1em
        font-style: normal
        font-size: .8em
        background: $codeblock-caption-bg

        *
            color: inherit

        span
            font-weight: 500
            font-family: $family-code

        .level-left *:not(:last-child)
            margin-right: 1em

        .level-right *:not(:first-child)
            margin-left: .5em

        .fold
            cursor: pointer
            display: flex
            align-items: center
            i
                font-size: 1.2rem
                line-height: 1.5

        &.level
            overflow: auto

            .level-right
                a
                    padding: 0em .75em

    .highlight-body
        overflow: auto
        .code
            width: 100%
            .marked
                background-color: $codeblock-marked-bg
                display: block
            .marked + br
                display: none

    .gutter
        text-align: right
        border-right: 0.0625rem solid rgba(0, 0, 0, .1)
        color: rgba(0, 0, 0, .25)

    .tag, .title, .number, .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit

/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
        tr:hover
            background: transparent

        td
            border: none

    .file
        all: initial
